*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: #242423;
    --balck-2: #333533;
    --yellow: #F5CB5C;
    --white: #E8EDDF;
    --white-gray: #CFDBD5;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left{
    background-color: #242423;
    height: 100vh;
    width: 25%;
}
.right{
    background-color: #333533;
    height: 100vh;
    width: 75%;
}
span.Resizer.vertical:hover{
    cursor:e-resize;
}
span.Resizer.vertical{
    cursor: col-resize;
    width: 3px;
    background-color: #242423;
    transition: all 0.2s ease;
}
span.Resizer.vertical:active{
    background-color: #F5CB5C
}